<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact up | Technology and blogging site</title>
    <link rel="stylesheet" href="./css/all.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./fonts/stylesheet.css" />
    <link rel="stylesheet" href="./css/utilities.css" />
  </head>
  <body>
    <header>
      <div class="container flex">
        <div class="menu-btn-wrapper">
          <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
          </div>
        </div>
        <a href="/index.html" class="nav-brand"><span>S</span>martech</a>

        <ul class="flex nav">
          <li>
            <a href="./index.html">Home</a>
          </li>
          <li>
            <a href="./blogs.html">Blogs</a>
          </li>
          <li>
            <a href="./index.html">Events</a>
          </li>
          <li>
            <a href="./contact.html">Contact</a>
          </li>
          <li>
            <a href="./index.html">About</a>
          </li>
          <li class="search-btn flex">
            <a id="s_open" href="#"><i class="fas fa-search"></i></a>
            <a href="#" id="s_close"><i class="fas fa-times"></i></a>
            <form action="#">
              <input type="text" placeholder="Search.." />
            </form>
          </li>
        </ul>
        <div class="dropdown">
          <div class="user-img">
            <img src="./images/avatar.png" alt="avatar" />
          </div>
          <div class="dropdown-content">
            <div class="user-info">
              <span class="name">Shrek jr.</span>
              <span class="email">shrek@gmail.com</span>
              <span></span>
            </div>
            <a href="#"><i class="fas fa-user-circle"></i> Your profile</a>
            <a href="#"><i class="fas fa-cog"></i> Setting</a>
            <a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
          </div>
        </div>
      </div>
    </header>

    <!-- showcase sec -->
    <div class="contact">
      <div class="container flex">
        <h1>Get In Touch With Us</h1>
        <p>
          Want to get in touch? We'de love to hear from you. Here's how you can
          reach us
        </p>
      </div>
    </div>

    <!-- contact form -->
    <div class="contact_form">
      <div class="container flex">
        <div class="form-container">
          <form>
            <label for="msg">Message</label>
            <textarea
              name="msg"
              id="msg"
              cols="30"
              rows="5"
              placeholder="Write message"
            ></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <!-- footer sec -->
    <footer>
      <div class="container grid grid-4">
        <ul class="logo">
          <li class="footer-title">Quick links</li>
          <li class="quick_link">
            <a href="#">Blog</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
          </li>
        </ul>
        <ul class="support">
          <li class="footer-title">Support Us</li>
          <li>
            <a href="#">Feedback</a>
            <a href="#">Report Bugs</a>
            <a href="#">Donate</a>
          </li>
        </ul>
        <ul class="service">
          <li class="footer-title">Our Services</li>
          <li>
            <a href="#">Website</a>
            <a href="#">Android </a>
            <a href="#">Ios</a>
            <a href="#">Bot</a>
          </li>
        </ul>
        <ul class="about">
          <li>
            <a href="/index.html" class="nav-brand"><span>S</span>martech</a>
          </li>
          <li>
            Smartech is Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Totam, alias!
          </li>
          <li class="social_link">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-reddit"></i></a>
            <a href="#"><i class="fab fa-telegram"></i></a>
          </li>
        </ul>
      </div>
      <div style="text-align: center" class="footer-btm">
        <div class="container">&copy; 2021 Smartech copy right reserved</div>
      </div>
    </footer>
    <script src="./app.js"></script>
  </body>
</html>
