<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to Smartech</title>
    <link rel="stylesheet" href="./css/all.css" />
    <link rel="stylesheet" href="./css/utilities.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <section class="form_sec">
      <div class="container flex">
        <div class="form-container">
          <h2>
            Forgot password?
          </h2>
          <p class="lead">Forgotten your password? Enter your email address below to begin the reset process.

          </p>
          <form>
            <div class="form-group">
              <input id="email" type="email" required />
              <label for="email">Enter email</label>
            </div>

            <button type="submit">Continue</button>
          </form>
          <div class="flex">
            <p class="lead">Instead <a href="./login.html">Login</a></p>
        </div>
      </div>
    </section>
  </body>
</html>
